.thumbnail
{
    display:        block; 
    margin-left:    auto; 
    margin-right:   auto;
    max-width:      150px;
}

.thumbnail-holder
{
    height:         150px;
}

.tableItem
{
    font-size:      32px;
}

.tableComment
{
    font-size:      24px;
}
